body{
    margin: 0px;
    padding: 0px;
}
ul li {
    list-style-type: none;
    display: inline;
    margin: 10px;
    padding: 8x;
}
ul{
    margin: 0px;
    
}

.navagation{
    background-color: #10243b;
    margin: 0px;
    padding: 0px
    
}
.bluebox{ 
    background-color: #005983;
    display: inline;
  color: #a3dde8;
  font-family: 'Open Sans', sans-serif;
font-size: 14px;
}
#split{
    margin: 0px 170px 0px 0px;
    display: inline;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-align: left

    
}
#half{
    display: inline;
    color: #a3dde8;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px
}
#logo{
    width: 60px
}
#herosection{
    background-image: url(images/science.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
